{% extends "base.html" %}

{% block content %}
<main>
    <div class="content__default">
        <p>I write software in a lot of languages but I prefer doing it with JavaScript and Rust. I'm interested in
            everything software and Bitcoin. I'm particularly drawn to computer systems, Bitcoin and Lightning
            projects. This website is where I share my learnings, tutorials and code snippets with you. I'm not a fan of
            social media, but I manage to cope with Twitter.</p>
        <ul>
            <li>🌱 I’m currently learning Bitcoin, Lightning and Rust</li>
            <li>👯 I’m looking to collaborate on Bitcoin, Lightning and Rust projects</li>
            <li>📫 How to reach me: vladimirfomene@gmail.com</li>
            <li>😄 Pronouns: he/him</li>
        </ul>
        <p>🥂 Cheers!</p>
    </div>
</main>
{% endblock content %}